body {
    font-family: 'Overpass', sans-serif;
    margin: 0;
    background-color: #575b5c;
}

/* EFECTOS PARA EL CONTENEDOR DE PANTALLA COMPLETA */
#contenedor {

    margin-top: 8%;
    display: flex;    
    align-items: center;
    justify-content: center;
    
}

/* CONTENEDOR LOGIN */
#contenedorcentrado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    min-width: 350px;
    max-width: 900px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    padding: 10px;
    box-sizing: border-box;
}

/* FORMULARIO DE LOGIN */
#login {
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    padding: 30px 30px 50px 30px;
    background-color: #bcbdbe;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    box-sizing: border-box;
    opacity: 1;
    filter: alpha(opacity=1);
}

#login label {
    display: block;
    font-family: none;
    font-size: 120%;
    color:#3c4245;
    margin-top: 15px;
}

#login input {
    font-family: none;
    font-size: 100%;
    color: #1b262c;
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login button {
    width: 100%;
    height: 40px;    
}

/* CONTENEDOR DE LA DERECHA */
#derecho {
    text-align: center;
    width: 60%;
    opacity: 0.70;
    filter: alpha(opacity=70);
    padding:20px 20px 20px 50px;
    box-sizing: border-box;
}

.titulo {
    font-size: 200%;
    color: #1f2121;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

hr {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #dfcdc3;
}

@media all and (max-width: 775px)
{
    #contenedorcentrado {
        flex-direction:column-reverse;
        width: auto;
        background-color: #ffffff;
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        padding: 30px;
        box-sizing: border-box;
    }

    #login {
        margin: 0 auto;
    }

    #derecho {
        width: auto;
        padding:20px 20px 20px 20px;
    }

    #login label {
        text-align: left;
    }

    p{
        color: black;
    }
    
    .titulo {
        font-size: 200%;
        color: #1f2121;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}